@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section id="hero" class="d-flex flex-column justify-content-center active">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Brandon Johnson</h1>
            <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter" alt="Twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook" alt="Facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram" alt="Instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype" alt="Skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin" alt="LinkedIn"></i></a>
            </div>
        </div>
    </section>
}
