@{
    <section id="services" class="services">
        <div class="container" data-aos="fade-up" aria-label="Certifications section">

            <header class="section-title">
                <h2>Certifications</h2>
            </header>

            <div class="row" aria-label="Certifications list">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-red" aria-label="Academic IELTS">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/IELTS_logo.svg"
                                 alt="IELTS Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="/certifications/ielts.pdf" target="_blank">Academic IELTS</a></h4>
                        <p class="clamp-lines">CERF level: C1, Overall band score: 7.5, Listening: 8.0, Reading: 7.0, Writing: 6.5, Speaking: 7.5</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red" aria-label="Duolingo English Test">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Duolingo_logo_%282019%29.svg"
                                 alt="Duolingo Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://certs.duolingo.com/c44abd8b77705dfeb778106775d3648e" target="_blank">Duolingo English Test</a></h4>
                        <p class="clamp-lines">Score 125 equivalent to Academic IELTS score of 6.5 according to the original tables.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-red" aria-label="C#">
                        <div class="icon">
                            <div class="sololearn-logo" aria-hidden="true"></div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-NHNO77H1/pdf" target="_blank">C#</a></h4>
                        <p class="clamp-lines">An interactive C# Tutorial, with code porjects involved during the course and exploring object-oriented programming practices.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-red" aria-label="SQL">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-V5FOVBED/pdf" target="_blank">SQL</a></h4>
                        <p class="clamp-lines">This course covered an array of SQL-related topics, such as retrieving, updating and filtering data, and more.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red" aria-label="HTML">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-5T2UZCKT/pdf" target="_blank">HTML</a></h4>
                        <p class="clamp-lines">Learned HTML which is at the core of every web page used in combiniation with CSS and JavaScript.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-red" aria-label="CSS">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-MZB3TZPP/pdf" target="_blank">CSS</a></h4>
                        <p class="clamp-lines">Learned how to control the style & layout of websites using CSS. CSS is a must-known tool for web developers.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-red" aria-label="JavaScript">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-5HNW2JHC/pdf" target="_blank">JavaScript</a></h4>
                        <p class="clamp-lines">Covered all the basic features of JavaScript, including making websites more interactive, changing website content, validating forms, and so more.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red" aria-label="Responsive Web Design">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-VU3RWYXK/pdf" target="_blank">Responsive Web Design</a></h4>
                        <p class="clamp-lines">Responsive web design is the practice of building websites that can adapt to every device and every screen size.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-red" aria-label="JQuery">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-RSSQ6MH4/pdf" target="_blank">JQuery</a></h4>
                        <p class="clamp-lines">All the core features of jQuery, including making your website more interactive, creating effects and animations, handling events, and more!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-red" aria-label="Angular + NestJS">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-4U7FULXA/pdf" target="_blank">Angular + NestJS</a></h4>
                        <p class="clamp-lines">Diving into TypeScript and discovering how Angular and Nest JS unite to create large scale JavaScript applications.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red" aria-label="Java">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-W8FR6AHB/pdf" target="_blank">Java</a></h4>
                        <p class="clamp-lines">An interactive Java course, teaching object-oriented Java programming and to have the ability to write clear and valid code.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-red" aria-label="Coding for Marketers">
                        <div class="icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/SoloLearn_logo.svg"
                                 alt="Sololearn Logo" class="certification">
                        </div>
                        <h4 class="clamp-title-lines"><a href="https://www.sololearn.com/Certificate/CT-PNQPBLS3/pdf" target="_blank">Coding for Marketers</a></h4>
                        <p class="clamp-lines">Understanding the basics of HTML and CSS as tools to understand how a website is created and works and how to manipulate the code behind it.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
