@{
    <section id="hero" class="d-flex flex-column justify-content-center active">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Kourosh Sajjadi</h1>
            <p>I'm a <span class="typed" data-typed-items="Data Science Student, Mid-Level Software Developer, Junior Blockchain Developer"></span></p>
            <div class="social-links">
                <a href="https://vimeo.com/831222748/1bb4f07b65" target="_blank" class="vimeo">
                <i class="bx bxl-vimeo" alt="Vimeo"></i>
                </a>

                <a href="https://www.linkedin.com/in/kourosh-sajjadi/" target="_blank" class="linkedin">
                <i class="bx bxl-linkedin" alt="LinkedIn"></i>
                </a>

                <a href="https://github.com/kooroshsajadi" target="_blank" class="github">
                <i class="bx bxl-github" alt="Github"></i>
                </a>

                <a href="https://www.slideshare.net/KouroshSajjadi" style="width: 24px; height: 25px;" target="_blank">
                    <img src="/svg/icons8-slideshare.svg" class="bx" style="width: 24px; height: 24px; margin-top: -2px" onmouseover="iconHover(this);" onmouseout="iconUnhover(this);"  alt="Slideshare">
                </a>

                <a href="mailto:kourosh_sajjadi@outlook.com" target="_blank" class="envelop">
                <i class="bx bx-envelope" alt="Email"></i>
                </a>
            </div>
        </div>
    </section>

    <script>
        /**
        * Home type effect
        */
        var typed = select('.typed');
        if (typed) {
            let typed_strings = typed.getAttribute('data-typed-items');
            typed_strings = typed_strings.split(',');
            new Typed('.typed', {
                strings: typed_strings,
                loop: true,
                typeSpeed: 100,
                backSpeed: 50,
                backDelay: 2000
            });
        }
    </script>
}
