@{
    <section id="resume" class="resume" aria-labelledby="resume-heading">
        <div class="container" data-aos="fade-up">
            <header class="section-title">
                <h2 id="resume-heading">Career</h2>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title" id="education-heading">Education</h3>
                    <article class="resume-item" aria-labelledby="education-heading">
                        <h4>Computer Engineering Master's, Data Science Track</h4>
                        <h5>Oct 2022 - Present</h5>
                        <p><em>Università di Pavia, Pavia, Italy</em></p>
                    </article>
                    <article class="resume-item" aria-labelledby="education-heading">
                        <h4>Blockchain Development Industry Training</h4>
                        <h5>Feb 2023 - Mar 2023</h5>
                        <p><em>Brainnest, Bremen, Germany</em></p>
                        <ul>
                            <li>Developed a cutting-edge Smart Contract project, showcasing expertise in blockchain technology and decentralized applications.</li>
                            <li>Created a small-scale NFT (Non-Fungible Token) minter project, demonstrating proficiency in tokenization and digital asset management.</li>
                            <li>Implemented a simple decentralized application (DApp), leveraging advanced concepts and technologies.</li>
                        </ul>
                    </article>
                    <article class="resume-item" aria-labelledby="education-heading">
                        <h4>Computer Engineering Bachelor's, Software Engineering Track</h4>
                        <h5>Sep 2017 - Dec 2021</h5>
                        <p><em>Islamic Azad University of Najafabad, Isfahan, Iran</em></p>
                        <p>Grade: 16.88/20.00</p>
                        <ul>
                            <li>Developed a lawyers' platform as the final project.</li>
                            <li>University's ACM ICPC Team Member.</li>
                        </ul>
                    </article>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title" id="experience-heading">Experience</h3>
                    <article class="resume-item" aria-labelledby="experience-heading">
                        <h4>Software Developer &amp; Scrum Master</h4>
                        <h5>Apr 2022 - Nov 2022</h5>
                        <p><em>Kasra Company, Isfahan, Iran</em></p>
                        <ul>
                            <li>Experienced Scrum mastership for a four-members team.</li>
                            <li>Responsible for Microsoft Azure DevOps tasks for the team.</li>
                            <li>Took part in the development of web and desktop tasks of the team.</li>
                        </ul>
                    </article>
                    <article class="resume-item" aria-labelledby="experience-heading">
                        <h4>Software Developer &amp; Scrum Member</h4>
                        <h5>Aug 2019 - Apr 2022</h5>
                        <p><em>Kasra Company, Isfahan, Iran</em></p>
                        <ul>
                            <li>Contributed to the development of an Enterprise Resource Planning (ERP) application.</li>
                            <li>Took charge of the front-end development for a timesheet web application.</li>
                            <li>Actively participated in the development of the company's customer support portal.</li>
                            <li>Collaborated in the development of a microservice application as an Attendance and Access Control System.</li>
                        </ul>
                    </article>
                    <article class="resume-item" aria-labelledby="experience-heading">
                        <h4>Software Development Intern</h4>
                        <h5>Jul 2019 - Aug 2019</h5>
                        <p><em>Kasra Company, Isfahan, Iran</em></p>
                        <ul>
                            <li>Broadened programming knowledge and gained stronger confidence and belief in abilities through the internship.</li>
                            <li>Acquired an online C# certificate quickly due to prior Java background.</li>
                            <li>Learned ASP.NET Core from scratch using a tutorial book, gaining familiarity with the MVC concept.</li>
                            <li>Worked on two windows form projects, expanding knowledge of object-oriented programming and multithreading.</li>
                            <li>Developed proficiency in working with IIS and utilizing Git as a source control tool for projects.</li>
                            <li>Overcame initial challenges of presenting work to other developers, gaining valuable experience in the process.</li>
                            <li>Interacted witha large group of knowledgeable developers who provided guidance and support throughout the internship.</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
}
